html {
    background-image: radial-gradient( circle at left 30%, rgba(192, 161, 120, 0.2), rgba(192, 161, 120, 0.2) 80px, rgba(192, 161, 120, 0.3) 100px, rgba(221, 177, 119, 0.3) 160px, rgba(221, 177, 119, 0.3)), linear-gradient( 215deg, transparent, transparent 100px, rgba(187, 143, 103, 0.3) 260px, rgba(187, 143, 103, 0.3) 320px, transparent), radial-gradient( circle at right, rgba(194, 156, 122, 0.3), rgba(221, 177, 119, 0.3)), linear-gradient( 175deg, transparent, transparent 40px, rgba(194, 156, 122, 0.1) 100px, rgba(194, 156, 122, 0.1) 110px, transparent 220px, transparent), linear-gradient( 200deg, transparent 80%, rgba(209, 149, 97, 0.2)), radial-gradient( ellipse at right bottom, transparent, transparent 200px, rgba(209, 149, 97, 0.1) 260px, rgba(209, 149, 97, 0.1) 320px, transparent 400px, transparent), url(wood.png);
    background-color: #CB9B5E;
}

body {
    font-family: Garamond;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    position: relative;
    overflow-x: hidden;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

iframe {
    border: none;
}

.links {
    padding: 5px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.links * {
    flex: 0 1 auto;
    display: inline-block;
}
.link-icon {
    margin-left: 10px;
    height: 50px;
}
.link-logo {
    color: black;
    fill: rgba(212, 163, 99, 0.5);
    width: 50px;
}
.phone-icon {
    border-radius: 50%;
    border: 3px solid black;
    padding: 7px;
    box-sizing: border-box;
}
.phone-icon:hover {
    animation: Rotate 2s linear 500ms 1;
}

.big-logo--animated > use {
    transform: scale(0.23);
    transform-origin: -36% -20%;
}

/* .animated-circle, .animated-text {
    animation: drawCircle 1s;
    transform-origin: 50% 50%;
}
@keyframes drawCircle {
    0% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
} */
.animated-drolles {
    animation: drawName 2s;
}
@keyframes drawName {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    50% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}
.animated-accent {
    animation: drawAccent 2.5s;
}
@keyframes drawAccent {
    0% {
        clip-path: inset(100% 0 0 0);
    }
    90% {
        clip-path: inset(100% 0 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}
.animated-underline {
    animation: drawUnderline 3s;
}
@keyframes drawUnderline {
    0% {
        clip-path: inset(100% 0 0 0);
    }
    90% {
        clip-path: inset(100% 0 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}



@keyframes Rotate {
    0% {transform:rotate(0deg);}
    4% {transform:rotate(-25deg);}
    8% {transform:rotate(20deg);}
    12% {transform:rotate(-25deg);}
    16% {transform:rotate(20deg);}
    20% {transform:rotate(-25deg);}
    24% {transform:rotate(20deg);}
    26% {transform:rotate(0deg);}
    100% {transform:rotate(0deg);}
  }

.address {
    font-family: serif;
}

.map {
    width: 90%;
    height: 40vh;
    margin: 50px 5%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
}

.blackboard {
    position: relative;
    background-image: radial-gradient( circle at left 30%, rgba(34, 34, 34, 0.2), rgba(34, 34, 34, 0.2) 80px, rgba(34, 34, 34, 0.3) 100px, rgba(51, 51, 51, 0.3) 160px, rgba(51, 51, 51, 0.3)), linear-gradient( 215deg, transparent, transparent 100px, rgba(22, 22, 22, 0.3) 260px, rgba(22, 22, 22, 0.3) 320px, transparent), radial-gradient( circle at right, rgba(11, 11, 11, 0.3), rgba(51, 51, 51, 0.3)), linear-gradient( 175deg, transparent, transparent 40px, rgba(120, 120, 120, 0.1) 100px, rgba(120, 120, 120, 0.1) 110px, transparent 220px, transparent), linear-gradient( 200deg, transparent 80%, rgba(50, 50, 50, 0.2)), radial-gradient( ellipse at right bottom, transparent, transparent 200px, rgba(80, 80, 80, 0.1) 260px, rgba(80, 80, 80, 0.1) 320px, transparent 400px, transparent), url(pattern.png);
    background-color: #333;
    color: white;
}

.banner--top {
    height: 160px;
}
.banner {
    display: flex;
    padding: 5px 0;
    text-align: center;
    font-size: xx-large;
    overflow: hidden;
}
.banner--scroll-links {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}
.banner-item {
    flex: 1 1 auto;
    padding: 5px;
}
.banner-top-item {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}
.banner-top-item--right {
    direction: rtl;
}
.line {
    height: 10px;
    display: block;
    width: calc(100% + 10px);
    margin: 5px auto;
}
.blackboard .line {
    fill: white;
}
.line--bigger {
    width: calc(100% + 30px);
}
.line--reverse-v {
    transform: scale(1, -1);
}
.line--reverse-h {
    transform: scale(-1, 1);
}
.line--reverse-v.line--reverse-h {
    transform: scale(-1, -1);
}

header {
    text-transform: uppercase;
}

nav {
    margin-top: 20px;
    font-size: x-large;
}
nav a:hover {
    text-decoration: underline;
}

header .big-logo {
    flex: 0 0 auto;
    fill: #333;
    width: 170px;
    align-self: center;
    z-index: 1;
    position: relative;
    overflow: visible;
}

svg .text-color {
    fill: currentColor;
}

.pizzas {
    white-space: nowrap;
    overflow-x: auto;
    padding: 20px 0;
    text-align: center;
}
.pizzas li {
    display: inline-block;
    padding: 0 20px;
}
#dialog {
    position: fixed;
    text-align: center;
    width: 70%;
    max-width: 500px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 5vh auto;
    padding: 30px 30px 10px;
    box-sizing: border-box;
    font-size: x-large;
}
#dialog:before {
    content: '×';
    position: absolute;
    right: 1%;
    top: 0;
    font-family: sans-serif;
}
.pizzas img {
    width: 180px;
}
#dialog img {
    width: 100%;
    height: 100%;
    max-width: 80vh;
}

.section-title {
    text-align: center;
    font-size: xx-large;
    font-family: Verdana;
    padding-top: 55px;
}
.section-title .line {
    fill: black;
    width: 85%;
}

.pizza-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pizza-listing {
    flex: 1 1 45%;
    padding: 10px;
    min-width: 300px;
    max-width: 500px;
}

.menu-list {
    padding: 0 12%;
    position: relative;
}
.big-logo--background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:  100%;
    opacity: 0.2;
    fill: rgb(212, 163, 99);
    pointer-events: none;
    color: rgb(138, 91, 44);
}
.menu-list td {
    width: 50%;
    padding: 20px 10px;
    vertical-align: top;
}
.pizza-header {
    display: flex;
    font-size: larger;
}
.pizza-name {
    flex: 1 1 auto;
    font-size: x-large;
}
@media(max-width: 425px) {
    .pizza-name {
        font-size: large;
    }
}
.pizza-price {
    font-family: Arial;
    letter-spacing: normal;
}
.pizza-details {
    font-family: Verdana;
    text-transform: initial;
    letter-spacing: initial;
    font-size: small;
}

.section-title .line,
.section-bottom .line {
    padding-right: 8%;
    box-sizing: border-box;
    width: 80%;
}

.timetable {
    margin: auto;
    border-spacing: 25px 10px;
    font-size: x-large;
}

#entreprise {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 70px;
}
#entreprise div {
    flex: 0 1 auto;
    max-width: 45%;
    max-height: 50vh;
    min-width: 0;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}
#entreprise img {
    max-width: 100%;
    max-height: 50vh;
}

footer {
    text-align: center;
    padding: 20px 0;
    font-size: xx-large;
}
footer .big-logo {
    height: 200px;
    fill: #333;
}
footer div {
    margin: 20px 0;
}
footer .phone {
    font-size: larger;
}
