body {
    text-align: center;
    font-family: Arial;
    text-transform: uppercase;
    font-size:large;
}

a {
    text-decoration: none;
    color: inherit;
}

.Logo {
    transition: transform 1s;
    max-height: 30vh;
    animation: drawLogo 2s;
}
.Logo:hover {
    transform: scale(1.1);
}
@keyframes drawLogo {
    0% {
        clip-path: circle(0 at 0 100%);
    }
    100% {
        clip-path: circle(200% at 0 100%);
    }
  }

.Title {
    font-family: monospace;
    font-size: 2.5em;
    margin-top: 0;
}

.Subtitle {
    font-family: serif;
}

.Phone {
    position: relative;
    display: inline-block;
    padding: 1em 30px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: sans-serif;
}
.Phone:before {
    opacity: 0;
    content: '';
    display: block;
    height: 1em;
    width: 1em;
    background-image: url(phone.png);
    background-size: contain;
    position: absolute;
    left: 0;
    transition: opacity 0.5s;
}
.Phone:hover:before {
    opacity: 1;
    animation: Rotate 2s linear 1s 1;
}

@keyframes Rotate {
    0% {transform:rotate(0deg);}
    4% {transform:rotate(-25deg);}
    8% {transform:rotate(20deg);}
    12% {transform:rotate(-25deg);}
    16% {transform:rotate(20deg);}
    20% {transform:rotate(-25deg);}
    24% {transform:rotate(20deg);}
    26% {transform:rotate(0deg);}
    100% {transform:rotate(0deg);}
  }

.Address {
    font-family: serif;
}

.Map {
    width: 80%;
    height: 40vh;
}

.SocialIcon {
    height: 40px;
    margin: 5px;
}
